/* ============ 全局 ============  */
*{
    margin: 0;
    padding: 0;
}
body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    background-color: #fff;
}
.container{
    margin: 0 auto;
    width: 1226px;
}


/*  ============  最顶部导航栏(黑)  ============  */
.topbar{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}
/*   最顶部导航栏-左   */
.topbar .topbar-left{
    float: left;
}
.topbar li{
    float: left;
    position: relative;
}
.topbar a{
    color: #b0b0b0;
    font-size: 12px;
}
.topbar span{
    margin: 0 4px;
    color: #424242;
}
.topbar a:hover{
    color: #fff;
}
/*  最顶部导航栏-右   */
.topbar .topbar-right{
    position: relative;
    float: right;
    height: 40px;
    color: #b0b0b0;
    background: #333;
}
.topbar .car{
    position: relative;
    float: right;
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
    /* 设置光标为小手 */
    cursor: pointer;
    transition: all .2s;
    z-index: 700;
}
.car i{
    margin-right: 4px;
}
.car:hover{
    background-color: #fff;
}
.car:hover>a{
    color: #ff6700;
}
/* 购物车下拉列表 */
.car-list{
    width: 316px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    position: absolute;
    top: 40px;
    right: 0;
    color: #424242;
    font-size: 12px;
    transition: all .3s;
    overflow: hidden;
}
.car:hover>.car-list{
    height: 100px;
    line-height: 100px;
}
.topbar-download{
    width: 124px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    overflow: hidden;
    transition: all .3s;
    z-index: 666;
}
.topbar-download img{
    width: 90px;
    margin: 18px 0 12px;
}
.topbar-download p{
    color: #333;
    font-size: 14px;
    line-height: 14px;
}
.topbar li:hover>.topbar-download{
    height: 148px;
}
.sanjiao{
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left:-8px ;
    display: none;
}
.topbar li:hover>.sanjiao{
    display: block;
}


/*    ============ 顶部标头 ============  */
.header{
    width: 100%;
    height: 100px;
    clear: both;
    position: relative;
}
/*    logo    */
.header-logo{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    float: left;
    margin-top: 22.5px;
    position: relative;
    overflow: hidden;
}
.header-logo img{
    width: 55px;
    height: 55px;
    transition: all .2s;
    position: absolute;
    top: 0;
}
.mi-logo{
    left: 0;
}
.mi-home{
    left: -55px;
}
.header-logo:hover .mi-home{
    left: 0;
}
.header-logo:hover .mi-logo{
    left: 55px;
}
/*    导航    */
.header-nav{
    width:875px ;
    height: 100px;
    float: left;
    padding-left: 172px;
    box-sizing: border-box;
}
.header-nav>ul>li{
    float: left;
    padding: 39.5px 10px;
}
.header-nav a{
    color: #333333;
    font-size: 16px;
}
.header-nav>ul>li>a:hover{
    color: #ff6700;
}
.header-search{
    width: 296px;
    height: 100px;
    float: left;
    padding-top: 25px;
    box-sizing: border-box;
}
.header-search>input{
    width: 244px;
    height: 50px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    box-sizing: border-box;
    /* 默认获取焦点时的样式 */
    outline: none;
    float: left;
    border-right: none;
}
.header-search>a{
    width: 52px;
    height: 50px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    float: left;
    box-sizing: border-box;
    color: #616161;
    font-size: 24px;
    transition: all .2s;
}
.header-search>input:hover,.header-search>input:hover+a{
    border-color: #b0b0b0;
}
.header-search>a:hover{
    background-color: #ff6700;
    color: #fff;
    border-color: #ff6700;
}

.nav-bar-list{
    width: 100%;
    height: 0;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
    position: absolute;
    left: 0;
    top: 100px;
    overflow: hidden;
    transition: height .2s;
    z-index: 600;
}
.header-nav>ul>li:hover>.nav-bar-list{
    height: 229px;
    border-top: 1px solid #b0b0b0;
}
.nav-bar-list li{
    width: 204px;
    float: left;
}
.nav-bar-list li:last-child .img-box{
    border-right: none;
}

.img-box{
    width: 100%;
    height: 110px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: 15px;
}
.name1{
    font-size: 12px;
    line-height: 20px;
}
.price1{
    color: #ff6700;
    font-size: 12px;
    line-height: 20px;
}

/* 轮播图 */
.banner{
    width: 100%;
    height: 460px;
    background-color: #fff;
}
.banner-box{
    position: relative;
}
.banner-box img{
    width: 100%;
}
.slide{
    width: 234px;
    height: 420px;
    background-color: rgba(105,101,101,.6);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
}
.slide>ul>li{
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    text-align: left;
    cursor: pointer;
}
.slide>ul>li:hover{
    background-color: #ff6700;
}
.slide>ul>li>a{
    color: #fff;
}
.slide i{
    float: right;
    margin-right: 20px;
    color: #e0e0e0;
    font-weight: 900;
    font-size: 18px;
}
.slide-list{
    width: 992px;
    height: 460px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-left: none;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
    position: absolute;
    top: 0;
    left: 234px;
    display: none;
    padding-top: 2px;
    z-index: 550;
}
.slide li:hover>.slide-list{
    display: block;
}
.slide-list>ul{
    float: left;
    width: 247.75px;
}
.slide-list li{
    width: 100%;
    height: 76px;
    line-height: 76px;
}
.slide-list img{
    width: 40px;
    margin-right: 12px;
    margin-left: 20px;
}
.slide-list a{
    color: #333;
}
.slide-list li:hover>a{
    color: #ff6700;
}
.prev,.next{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 50%;
    margin-top: -34.5px;
    background-image: url('../images/icon-slides.png');
    cursor: pointer;
}
.prev{
    left: 234px;
    background-position: -83px;
}
.prev:hover{
    background-position: 0;
}
.next{
    right: 0;
    background-position: -124px;
}
.next:hover{
    background-position: -42px;
}
.btn{
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.btn>li{
    width: 6px;
    height: 6px;
    border: 2px solid rgba(255,255,255,.3);
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
    margin: 0 4px;
    float: left;
    cursor: pointer;
}
.btn>.active{
    border-color: rgba(0,0,0,.4);
    background-color: rgba(255,255,255,.3);
}


/* 广告样式 */
.adv{
    width: 100%;
    height: 170px;
    padding: 14px 0 26px;
    background-color: #fff;
}
.adv-left{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    padding: 3px;
    box-sizing: border-box;
    float: left;
}
.adv-left img{
    border: 0;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}
.adv-img{
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 14.66px;
    transition: all .2s linear;
}
.adv-img img{
    width: 100%;
}
.adv-img:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.adv-left li{
    float: left;
    width: 76px;
    height: 82px;
    padding: 18px 0;
    box-sizing: border-box;
    position: relative;
}
.adv-left a{
    color: #fff;
    /* 设置整个元素的透明度 */
    opacity: .7;
    font-size: 12px;
    display: block;
    transition: all .2s;
}
.adv-left a:hover{
    opacity: 1;
}
.adv-left i{
    margin-bottom: 4px;
    display: block;
    font-size: 24px;
}
.row::before,.col::after{
    content: "";
    display: block;
    background-color: #665e57;
    position: absolute;
}
.row::before{
    width: 64px;
    height: 1px;
    bottom: 0;
    left: 6px;
}
.col::after{
    width: 1px;
    height: 70px;
    right: 0;
    top: 6px;
}


/*  ============  主页面  ============  */
.main-page{
    background: #f5f5f5;
}

/*  =====  砖块图  =======   */



/*    上部图题    */
.brick-box-head{
    position: relative;
    height: 58px;
}
.brick-box-head h2{
    float: left;
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.more{
    position: absolute;
    top: 0;
    right: 0;
}
.brick-box-head .more a{
    float: right;
    line-height: 58px;
    font-size: 16px;
    color: #424242;
    transition: all .4s;
}
.brick-box-head .more i{
    margin-left: 4px;
    font-size: 20px;
    top: 3px;
}
.brick-box-head .more a:hover{
    color: #ff6700;
}
/*     下部图     */
.brick-box-pic{
    margin-left: -14px;
}

/*     左部（大图）    */
.brick-l-b{
    float: left;
}
.brick-l-b img{
    width: 234px;
    height: 614px;
    float: left;
    transition: all .2s linear;
}
/*                 右部              */
.brick-r{
    width: 992px;
    height: 614px;
    float: left;
}
.brick-r-items{
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    background-color: #fff;
    transition: all .2s linear;
}

.brick-r-items img{
    width: 160px;
    margin: 20px 0 18px;
}
.brick-r-desc, .brick-r h3, .brick-r-price{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.brick-r h3{
    height: 21px;
    margin: 0 auto 2px;
    color: #333333;
    font-size: 14px;
} 
.brick-r-desc{
    height: 18px;
    margin: 0 auto 10px;
    color: #b0b0b0;
    font-size: 12px;
}
.brick-r-price{
    color: #ff6700;
}
.brick-r-items:hover,.brick-l-b:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translateY(-2px);
}
.banner-img{
    width: 100%;
    height: 120px;
}





/*   ============  长条展示图  ============  */
.long-bar-pic img{
    width: 1226px;
    height: 120px;
    margin: 44px 0 22px;
}

/*   ============  家电广告展示图  ============  */
.title{
    line-height: 58px;
    text-align: left;
    color: #333;
    font-weight: 200;
}
.items{
    width: 234px;
    height: 300px;
    background-color: #fff;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    transition: all .2s linear;
}
.tab-list{
    float: right;
}
.tab-list>li{
    float: left;
    color: #424242;
    font-size: 16px;
    margin-left: 30px;
    line-height: 24px;
    margin-top: 16px;
}
.tab-list>.tab-active{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.items1{
    margin-left: 0;
}
.items-right{
    width: 992px;
    height: 614px;
    float: left;
}
.goods-price>del{
    color: #b0b0b0;
    margin-left: 7px;
}
.items2{
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;
}
.items2>div{
    width: 234px;
    height: 143px;
    background-color: #fff;
    margin-bottom: 14px;
    transition: all .2s linear;
    padding-top: 40px;
    box-sizing: border-box;
}
.items:hover,.items2>div:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translateY(-2px);
}
.items2-text{
    width: 94px;
    float: left;
    margin-left: 30px;
    text-align: left;
}
.items2 img{
    float: left;
    width: 80px;
    position: relative;
    top: -10px;
}
.items2-price{
    font-size: 12px;
    color: #ff6700;
}
.hide{
    display: none;
}
.elec-box{
    width: 100%;
    height: 614px;
}
.items-left{
    width: 234px;
    height: 614px;
    float: left;
    transition: all .2s linear;
}
.items-left img {
    width: 234px;
}
.goods-img{
    width: 160px;
    margin: 20px 0 18px;
}
.goods-name,.goods-desc{
    width: 214px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goods-name{
    height: 21px;
    margin: 0 auto 2px;
    color: #333333;
    font-size: 14px;
}
.goods-desc{
    height: 18px;
    margin: 0 auto 10px;
    color: #b0b0b0;
    font-size: 12px;
}
.goods-price{
    color: #ff6700;
}


/* ============   页脚样式开始  ============ */
.footer{
    width: 100%;
    background-color: #fff;
}
.footer-serves{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-serves li{
    float: left;
    width: 19.8%;
    border-right: 1px solid #e0e0e0;
}
.footer-serves li:last-child{
    border-right: none;
}
.footer-serves a{
    color: #616161;
    font-size: 16px;
    transition: all .2s;
}
.footer-serves i{
    font-size: 24px;
    margin-right: 6px;
}
.footer-serves a:hover{
    color: #ff6700;
}
.footer-links{
    width: 100%;
    height: 112px;
    padding: 40px 0;
}
.footer-links>ul{
    float: left;
    width: 160px;
    text-align: left;
}
.footer-links li{
    height: 18px;
    margin-top: 10px;
}
.footer-links li:first-child{
    margin-top: -1px;
    margin-bottom: 26px;
    height: 17px;
    color: #424242;
}
.footer-links a{
    color: #757575;
    font-size: 12px;
}
.footer-links a:hover{
    color: #ff6700;
}
.footer-links-right{
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.footer-links-right>p:first-child{
    font-size: 22px;
    color: #ff6700;
}
.footer-links-right>p:nth-child(2){
    font-size: 12px;
    color: #616161;
}
.footer-links-right>p:nth-child(3){
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #ff6700;
    border: 1px solid #ff6700;
    margin-left: 62px;
    cursor: pointer;
}
.footer-links-right>p:nth-child(3):hover{
    background-color: #ff6700;
    color: #FFFFFF;
}
.footer-links-right>p:last-child{
    color: #616161;
    /* font-size: 12px; */
}